/*-- properties for the parent (grid container) --*/
body { height: 100%; font-size: medium; padding: 0px; margine: 0px;
  font-family: "Verdana", sans-serif; color: gray;}
* { box-sizing: border-box; }
.row::before, .row::after { content: ""; clear: both; display: table; }
.container{ width: 100%; height: 100%;}
.header-left { grid-area: hl; }
.header-right { grid-area: hr; }
.empty-head-left { grid-area: ehl; }
.empty-head-right { grid-area: ehr; }
.nav-left { grid-area: nl; }
.nav-right { grid-area: nr; }
.main { grid-area: m; }
.footer { grid-area: f; }
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10vh auto;
  grid-template-areas:
    "ehl hl hl hl hl hl hl hr hr hr hr ehr"
    "ehl nl nl nl nl nl nl nr nr nr nr ehr"
    "m m m m m m m m m m m m"
    "f f f f f f f f f f f f";
  padding: 0px;
}
.main { grid-column: 2 / 12; }
.footer { grid-column: 2 / 12; }
.main { background-color: white; color: black; }
.footer { background-color: #fff; color: gray; font-size: small; }
.footer span:nth-child(2) { padding-left: 20px; }
/*-- properties for the children (grid items) --*/
.empty-head-left, .empty-head-right { border-bottom: 1px solid gray; }
.header-right span { font-size: small; padding-left: 20px; padding-right: 20px; padding-top: 10px; cursor: pointer; }
.header-left  { background-image: url("header-assets_original.jpeg"); }
.nav-left, .nav-right { border-bottom: 1px solid gray; padding-left: 20px; padding-right: 20px; padding-top: 20px; display: flex; align-items: flex-end; }
.nav-left span, .nav-right span { padding-right: 20px; cursor: pointer; }
#searchBtnId, #loginBtnId { padding-left: 20px; cursor: pointer; }
.navLinksClass { padding-top: 20px; }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown { display: inline-block; position: relative; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #3e8e41; }

ul { list-style: none; padding: 0; margin: 0; background-color: #f9f9f9; display: inline-block; }
ul li { display: inline-block;; position: relative; float: left; background-color: #f9f9f9; }
ul li:hover { background-color: #f1f1f1; }
li ul { display: none; }
ul li a { display: block; text-decoration: none; white-space: nowrap; color: black; width: 10em;}
ul li a:hover { background-color: #f1f1f1; }
li:hover > ul { display: block; position: absolute; padding-left: 0em;}
li:hover li { float: left; }
ul ul { left: 100%; top: 0; }
ul:before, ul:after { content: " "; display: table; }
ul:after { clear: both; }

/*-- some extra column content styling --*/
@media all and (max-width:800px){ }
@media all and (max-width:650px){ }

table { border-collapse: collapse; width: 100%; table-layout: fixed; }
td { text-align: left; padding: 10px; vertical-align: top; color: black; }
td:first-child { width: 30vw; }

#editAttr { display: none; border: 1px solid orange; padding-left: 20px; }
#attrValId { width: 50vw; }
button { background-color: #4CAF50; border: none; color: white; padding: 15px 32px; margin-right: 20px;
  float: right; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; }
button:hover { background-color: #4C6F50; text-decoration: underline; }

#viewTblId { border-collapse: collapse; width: 100%;  padding-top: 20px; }
#viewTblId td, th { border: 1px solid black; text-align: left; padding: 8px; color: black; word-wrap: break-word; }
#viewTblId th { background-color: #dddddd; }
#viewTblId td:first-child {width: auto; cursor: pointer;}
#viewTblId td:first-child:hover { text-decoration: underline; }
#viewTblId tr:nth-child(even) { background-color: #dddddd; }
th.viewColMlfb0, th.viewProdCol0 { width: 5%; }
th.viewColMlfb1, th.viewProdCol1 { width: 18%; }
th.viewColMlfb2, { width: 5%; }
th.viewColMlfb3 { width: 24%; }
th.viewColMlfb4, th.viewColMlfb5, th.viewColMlfb6 { width: 16%; }
th.viewProdCol2, th.viewProdCol3 { width: 10%; }
th.viewProdCol4 { width: 5%; }
th.viewProdCol5 { width: 8%; }
th.viewProdCol6 { width: 34%; }

.loginElsClass { display: none; }
